.signup_new
  = render 'signup-header'
.signup2-main
  .signup2-main__box
    .signup2-main__box__head
      会員情報入力
    = form_with url: create_user_path, html: { class: "signup2-main__box__form" } do |f|
      .signup2-main__box__form__contents
        .signup2-form-group.signup2-main__box__form__contents__nickname
          .signup2-form-group__name.signup2-main__box__form__contents__nickname__text
            ニックネーム
          %span.signup2-form-group__require.signup2-main__box__form__contents__nickname__require
            必須
          = f.text_field :nickname, placeholder: '例) メルカリ太郎', class: 'signup2-form-group__form signup2-main__box__form__contents__nickname__form'
        .signup2-form-group.signup2-main__box__form__contents__mail
          .signup2-form-group__name.signup2-main__box__form__contents__mail__text
            メールアドレス
          %span.signup2-form-group__require.signup2-main__box__form__contents__mail__require
            必須
          = f.email_field :email, placeholder: 'PC・携帯どちらでも可', class: 'signup2-form-group__form signup2-main__box__form__contents__mail__form'
        .signup2-form-group.signup2-main__box__form__contents__password
          .signup2-form-group__name.signup2-main__box__form__contents__password__text
            パスワード
          %span.signup2-form-group__require.signup2-main__box__form__contents__password__require
            必須
          = f.password_field :password, placeholder: '6文字以上', class: 'signup2-form-group__form signup2-main__box__form__contents__password__form'
        .signup2-form-group.signup2-main__box__form__contents__password-confirm
          .signup2-form-group__name.signup2-main__box__form__contents__password-confirm__text
            パスワード(確認)
          %span.signup2-form-group__require.signup2-main__box__form__contents__password-confirm__require
            必須
          = f.password_field :password_confirmation, placeholder: '6文字以上', class: 'signup2-form-group__form signup2-main__box__form__contents__password-confirm__form'
        .signup2-form-group.signup2-main__box__form__contents__user-confirm
          .signup2-form-group.signup2-main__box__form__contents__user-confirm__head
            本人確認
          .signup2-main__box__form__contents__user-confirm__text
            安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。他のお客さまに公開されることはありません。
        .signup2-form-group.signup2-main__box__form__contents__firstname
          .signup2-form-group__name.signup2-main__box__form__contents__firstname__text
            姓(全角)
          %span.signup2-form-group__require.signup2-main__box__form__contents__firstname__require
            必須
          = f.text_field :firstname_fullangle, placeholder: '例) 山田', class: 'signup2-form-group__form signup2-main__box__form__contents__firstname__form'
        .signup2-form-group.signup2-main__box__form__contents__lastname
          .signup2-form-group__name.signup2-main__box__form__contents__lastname__text
            名(全角)
          %span.signup2-form-group__require.signup2-main__box__form__contents__lastname__require
            必須
          = f.text_field :lastname_fullangle, placeholder: '例) 彩', class: 'signup2-form-group__form signup2-main__box__form__contents__lastname__form'
        .signup2-form-group.signup2-main__box__form__contents__first-kana
          .signup2-form-group__name.signup2-main__box__form__contents__first-kana__text
            姓カナ(全角)
          %span.signup2-form-group__require.signup2-main__box__form__contents__first-kana__require
            必須
          = f.text_field :firstname_kana, placeholder: '例) ヤマダ', class: 'signup2-form-group__form signup2-main__box__form__contents__first-kana__form'
        .signup2-form-group.signup2-main__box__form__contents__last-kana
          .signup2-form-group__name.signup2-main__box__form__contents__last-kana__text
            名カナ(全角)
          %span.signup2-form-group__require.signup2-main__box__form__contents__last-kana__require
            必須
          = f.text_field :lastname_kana, placeholder: '例) アヤ', class: 'signup2-form-group__form signup2-main__box__form__contents__last-kana__form'
        .signup2-form-group.signup2-main__box__form__contents__birth-day
          .signup2-form-group__name.signup2-main__box__form__contents__birth-day__text
            生年月日
          %span.signup2-form-group__require.signup2-main__box__form__contents__birth-day__require
            必須
          = f.date_select :birthday, start_year: 1940, end_year: Time.current.year, use_month_numbers: true
          %p.signup2-main__box__form__contents__birth-day__year
            年
          %p.signup2-main__box__form__contents__birth-day__month
            月
          %p.signup2-main__box__form__contents__birth-day__day
            日
        .signup2-form-group.signup2-main__box__form__contents__info
          ※ 本人情報は正しく入力してください。会員登録後、修正するにはお時間を頂く場合があります。
        -# ロボット機能が本番環境で必要な為、コメントアウトにて対応しております。
        = recaptcha_tags callback: 'recaptchaCallbackFunction'
        .flash
          - if flash[:notice]
            = flash[:notice]
        .signup2-form-group.signup2-main__box__form__contents__agree-confirm
          .signup2-form-group.signup2-main__box__form__contents__agree-confirm__text
            「次へ進む」のボタンを押すことにより、利用規約に同意したものとみなします
        = f.submit '次へ進む', class: 'signup2-form-group signup2-main__box__form__contents__submit'
        .signup2-form-group.signup2-main__box__form__contents__register-info
          = link_to root_path, class: 'signup2-form-group__link signup2-main__box__form__contents__register-info_text' do
            本人情報の登録について
            %fa.fas.fa-chevron-right.signup2-main__box__form__contents__register-info__text__icon
= render 'buyers/buyer-footer'
