= render 'signup-header'
.signup5
  .signup5__box
    .signup5__box__header
      支払い方法
    = form_with url: registration_index_path, html: { class: "signup5__box__main" } do |f|
      .signup5__box__main__form
        .signup5__box__main__form__group
          %label.signup5__box__main__form__group__creditcard
            カード番号
          %span.signup5__box__main__form__group__span
            必須
          = f.text_field :card, maxlength: "16", name: "number", placeholder: "カード番号", type: "text", class: 'signup5__box__main__form__group__field'
          %img{alt: "Credit", height: "30", src: "/assets/credit_logo.png", width: "350"}/
        .signup5__box__main__form__group
          %label.signup5__box__main__form__group__creditcard
            有効期限
          %span.signup5__box__main__form__group__span
            必須
          .signup5__box__main__form__group__birthday
            .signup5__box__main__form__group__birthday__wrap
              = f.select :card, [[ "01","01"], [ "02", "02" ], [ "03", "03" ], [ "04", "04"], [ "05", "05"], [ "06", "06" ], [ "07", "07"], ["08", "08"], ["09", "09"], ["10", "10"], ["11", "11"], ["12", "12"]], {}, class: 'signup5__box__main__form__group__birthday__wrap__registration'
              %span.signup5__box__main__form__group__labels
                月
            .signup5__box__main__form__group__birthday__wrap
              = f.select :card, [[ "19","2019"], [ "20", "2020" ], [ "21", "2021" ], [ "22", "2022"], [ "23", "2023"], [ "24", "2024" ], [ "25", "2025"], ["26", "2026"], ["27", "2027"], ["28", "2028"], ["29", "2029"]], {}, class: 'signup5__box__main__form__group__birthday__wrap__registration'
              %span.signup5__box__main__form__group__labels
                年
        .signup5__box__main__form__group
          %label.signup5__box__main__form__group__creditcard
            セキリュティコード
          %span.signup5__box__main__form__group__span
            必須
          = f.text_field :card, maxlength: "4", name: "cvc", placeholder: "カード背面３桁または４桁の番号", type: "text", class: 'signup5__box__main__form__group__field'
          = f.submit '次へ進む', class: 'signup5__box__main__form__group__submit'
= render 'buyers/buyer-footer'