= render 'buyers/buyer-header'

.login1
  .login1__main
    .login1__main__noaccount
      .login1__main__noaccount__upper
        アカウントをお持ちでない方はこちら
      .login1__main__noaccount__lower
        新規会員登録
    .login1__main__inner
      .login1__main__inner__facebook
        %i.fab.fa-facebook.login1__main__inner__facebook__btn
        Facebookでログイン
      .login1__main__inner__google
        %i.fab.fa-google.login1__main__inner__google__btn
        Googleでログイン
    = form_with url: root_path, html: { class: "login1__main__form" } do |f|
      .login1__main__form__inner
        .login1__main__form__inner__group
          = f.text_field :login1, name: "email", placeholder: "メールアドレス", type: "email", value: "", class: 'login1__main__form__inner__group__email'
        .login1__main__form__inner__group
          = f.text_field :login1, name: "password", placeholder: "パスワード", type: "password", class: 'login1__main__form__inner__group__password'
        .login1__main__form__inner__group
          .login1__main__form__inner__group__robot
        = f.submit 'ログイン', class: 'login1__main__form__inner__submit'
        .login1__main__form__inner__text
          パスワードをお忘れの方

= render 'buyers/buyer-footer'