.product-detail__others
  %section.product-detail__others__section
    .product-detail__others__section__box
      = link_to root_path, class: 'product-detail__others__section__box__head' do
        大貫さんのその他の出品
    .product-detail__others__section__item
      .product-detail__others__section__item__box
        = link_to root_path, class: 'product-detail__others__section__item__box__href' do
          %figure.product-detail__others__section__item__box__href__figure
            = image_tag ('/ダウンロード.jpeg'), class: 'product-detail__others__section__item__box__href__figure__image'
            %figcaption.product-detail__others__section__item__box__href__figure__figcaption
              .product-detail__others__section__item__box__href__figure__figcaption__sold-out
                .product-detail__others__section__item__box__href__figure__figcaption__sold-out__budge 
                  SOLD
          .product-detail__others__section__item__box__href__body
            .product-detail__others__section__item__box__href__body__name
              女神
            .product-detail__others__section__item__box__href__body__num
              .product-detail__others__section__item__box__href__body__num__price
                ¥ 100000
              .product-detail__others__section__item__box__href__body__num__good
                %i.far.fa-heart.product-detail__others__section__item__box__href__body__num__good__icon
                %span.product-detail__others__section__item__box__href__body__num__good__count
                  0
            .product-detail__others__section__item__box__href__body__tax
              (税込)
      .product-detail__others__section__item__box
        = link_to root_path, class: 'product-detail__others__section__item__box__href' do
          %figure.product-detail__others__section__item__box__href__figure
            = image_tag ('/ダウンロード.jpeg'), class: 'product-detail__others__section__item__box__href__figure__image'
            %figcaption.product-detail__others__section__item__box__href__figure__figcaption
              .product-detail__others__section__item__box__href__figure__figcaption__sold-out
                .product-detail__others__section__item__box__href__figure__figcaption__sold-out__budge 
                  SOLD
          .product-detail__others__section__item__box__href__body
            .product-detail__others__section__item__box__href__body__name
              女神
            .product-detail__others__section__item__box__href__body__num
              .product-detail__others__section__item__box__href__body__num__price
                ¥ 100000
              .product-detail__others__section__item__box__href__body__num__good
                %i.far.fa-heart.product-detail__others__section__item__box__href__body__num__good__icon
                %span.product-detail__others__section__item__box__href__body__num__good__count
                  0
            .product-detail__others__section__item__box__href__body__tax
              (税込)
      .product-detail__others__section__item__box
        = link_to root_path, class: 'product-detail__others__section__item__box__href' do
          %figure.product-detail__others__section__item__box__href__figure
            = image_tag ('/ダウンロード.jpeg'), class: 'product-detail__others__section__item__box__href__figure__image'
            %figcaption.product-detail__others__section__item__box__href__figure__figcaption
              .product-detail__others__section__item__box__href__figure__figcaption__sold-out
                .product-detail__others__section__item__box__href__figure__figcaption__sold-out__budge 
                  SOLD
          .product-detail__others__section__item__box__href__body
            .product-detail__others__section__item__box__href__body__name
              女神
            .product-detail__others__section__item__box__href__body__num
              .product-detail__others__section__item__box__href__body__num__price
                ¥ 100000
              .product-detail__others__section__item__box__href__body__num__good
                %i.far.fa-heart.product-detail__others__section__item__box__href__body__num__good__icon
                %span.product-detail__others__section__item__box__href__body__num__good__count
                  0
            .product-detail__others__section__item__box__href__body__tax
              (税込)
      .product-detail__others__section__item__box
        = link_to root_path, class: 'product-detail__others__section__item__box__href' do
          %figure.product-detail__others__section__item__box__href__figure
            = image_tag ('/ダウンロード.jpeg'), class: 'product-detail__others__section__item__box__href__figure__image'
            %figcaption.product-detail__others__section__item__box__href__figure__figcaption
              .product-detail__others__section__item__box__href__figure__figcaption__sold-out
                .product-detail__others__section__item__box__href__figure__figcaption__sold-out__budge 
                  SOLD
          .product-detail__others__section__item__box__href__body
            .product-detail__others__section__item__box__href__body__name
              女神
            .product-detail__others__section__item__box__href__body__num
              .product-detail__others__section__item__box__href__body__num__price
                ¥ 100000
              .product-detail__others__section__item__box__href__body__num__good
                %i.far.fa-heart.product-detail__others__section__item__box__href__body__num__good__icon
                %span.product-detail__others__section__item__box__href__body__num__good__count
                  0
            .product-detail__others__section__item__box__href__body__tax
              (税込)
.product-detail__others
  %section.product-detail__others__section
    .product-detail__others__section__box
      = link_to root_path, class: 'product-detail__others__section__box__head' do
        女神グッズその他の出品
    .product-detail__others__section__item
      .product-detail__others__section__item__box
        = link_to root_path, class: 'product-detail__others__section__item__box__href' do
          %figure.product-detail__others__section__item__box__href__figure
            = image_tag ('/ダウンロード.jpeg'), class: 'product-detail__others__section__item__box__href__figure__image'
            %figcaption.product-detail__others__section__item__box__href__figure__figcaption
              .product-detail__others__section__item__box__href__figure__figcaption__sold-out
                .product-detail__others__section__item__box__href__figure__figcaption__sold-out__budge 
                  SOLD
          .product-detail__others__section__item__box__href__body
            .product-detail__others__section__item__box__href__body__name
              女神
            .product-detail__others__section__item__box__href__body__num
              .product-detail__others__section__item__box__href__body__num__price
                ¥ 100000
              .product-detail__others__section__item__box__href__body__num__good
                %i.far.fa-heart.product-detail__others__section__item__box__href__body__num__good__icon
                %span.product-detail__others__section__item__box__href__body__num__good__count
                  0
            .product-detail__others__section__item__box__href__body__tax
              (税込)
      .product-detail__others__section__item__box
        = link_to root_path, class: 'product-detail__others__section__item__box__href' do
          %figure.product-detail__others__section__item__box__href__figure
            = image_tag ('/ダウンロード.jpeg'), class: 'product-detail__others__section__item__box__href__figure__image'
            %figcaption.product-detail__others__section__item__box__href__figure__figcaption
              .product-detail__others__section__item__box__href__figure__figcaption__sold-out
                .product-detail__others__section__item__box__href__figure__figcaption__sold-out__budge 
                  SOLD
          .product-detail__others__section__item__box__href__body
            .product-detail__others__section__item__box__href__body__name
              女神
            .product-detail__others__section__item__box__href__body__num
              .product-detail__others__section__item__box__href__body__num__price
                ¥ 100000
              .product-detail__others__section__item__box__href__body__num__good
                %i.far.fa-heart.product-detail__others__section__item__box__href__body__num__good__icon
                %span.product-detail__others__section__item__box__href__body__num__good__count
                  0
            .product-detail__others__section__item__box__href__body__tax
              (税込)
      .product-detail__others__section__item__box
        = link_to root_path, class: 'product-detail__others__section__item__box__href' do
          %figure.product-detail__others__section__item__box__href__figure
            = image_tag ('/ダウンロード.jpeg'), class: 'product-detail__others__section__item__box__href__figure__image'
            %figcaption.product-detail__others__section__item__box__href__figure__figcaption
              .product-detail__others__section__item__box__href__figure__figcaption__sold-out
                .product-detail__others__section__item__box__href__figure__figcaption__sold-out__budge 
                  SOLD
          .product-detail__others__section__item__box__href__body
            .product-detail__others__section__item__box__href__body__name
              女神
            .product-detail__others__section__item__box__href__body__num
              .product-detail__others__section__item__box__href__body__num__price
                ¥ 100000
              .product-detail__others__section__item__box__href__body__num__good
                %i.far.fa-heart.product-detail__others__section__item__box__href__body__num__good__icon
                %span.product-detail__others__section__item__box__href__body__num__good__count
                  0
            .product-detail__others__section__item__box__href__body__tax
              (税込)
      .product-detail__others__section__item__box
        = link_to root_path, class: 'product-detail__others__section__item__box__href' do
          %figure.product-detail__others__section__item__box__href__figure
            = image_tag ('/ダウンロード.jpeg'), class: 'product-detail__others__section__item__box__href__figure__image'
            %figcaption.product-detail__others__section__item__box__href__figure__figcaption
              .product-detail__others__section__item__box__href__figure__figcaption__sold-out
                .product-detail__others__section__item__box__href__figure__figcaption__sold-out__budge 
                  SOLD
          .product-detail__others__section__item__box__href__body
            .product-detail__others__section__item__box__href__body__name
              女神
            .product-detail__others__section__item__box__href__body__num
              .product-detail__others__section__item__box__href__body__num__price
                ¥ 100000
              .product-detail__others__section__item__box__href__body__num__good
                %i.far.fa-heart.product-detail__others__section__item__box__href__body__num__good__icon
                %span.product-detail__others__section__item__box__href__body__num__good__count
                  0
            .product-detail__others__section__item__box__href__body__tax
              (税込)

