.purchase
  .purchase-icon
    = image_tag 'mercari_logo_horizontal.png',class: 'purchase-icon-merukari'
  .purchase-page
    .purchase-page__text
      %h2 購入を確定しますか？
    .purchase-page__item
      .purchase-page__item__imag
        = image_tag "car.jpg"
      %h3.purchase-page__item__name
        = link_to "ベルファイア"
      = form_with class: "purchase-page__item__price" do
        %p.purchase-page__item__price-money
          = link_to "¥ 1,333,999"
        %h3.purchase-page__item__price-tax
          = link_to "送料込み" 
      %ul.purchase-page__item__point
        %li.purchase-page__item__point-list
          = link_to "ポイントはありません"
      %ul.purchase-page__item__payment
        %li.purchase-page__item__payment-text 
          = link_to "支払い金額"
          %h3.purchase-page__item__payment-money
            = link_to "¥ 1,300,000" 
      %h3.purchase-page__item__attention 配送先と支払い方法の入力を完了してください。
      %botton.purchase-page__item__button 購入する
    %section.purchase-page__info
      .purchase-page__info__inner
        %h3 配送先
        %address.purchase-page__info__inner-address
          〒333-9999 
          %br/
          %br/
          東京都/東京区 
          %br/
          麻生/8888-12
        %p.purchase-page__info__inner-tax
          = link_to root_path, { class: "purchase-page__info-fix"} do
            %span 変更する
            %i.fas.fa-chevron-right
    %section.purchase-page__way{"data-buy" => "pay-method"}
      .purchase-page__way__inner
        %h3 支払い方法
        %p.buy-user-info-text
          %br/
          ********4242
          %br/
          \ 12/2022
        .purchase-page__way__inner__img
          =image_tag "VISA.png"
        %p.purchase-page__way__inner-tax
          = link_to root_path, { class: "buy-user-info-fix" } do
            %span 変更する
            %i.fas.fa-chevron-right

= render 'buyer-footer'