= render partial: 'products/header'
%main.white
  %div.top-main__visual
    %div
      .top-main__visual__content
        %h2
          スマホでかんたん
          %br>/
          フリマアプリ
        %p
          メルカリはスマホカメラからすぐに出品できる
          %br>/
          購入時も安心な独自システムのアプリです
        .top-main__visual__content__store
          = link_to "https://itunes.apple.com/jp/app/id667861049?l=ja&mt=8", target: "_blank", class: "pull-left" do
            = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/app-store.svg?1528449478", alt: ""
          = link_to "https://play.google.com/store/apps/details?id=com.kouzoh.mercari&hl=ja", target: "_blank", class: "pull-left" do
            = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/google-play.svg?1528449478", alt: ""
      = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/jp/top/main_content_pc.png?1528449478", alt: ""
    -# %div
      .owl-item{:style => "width: 804px;"}
        %h2
          = image_tag "//www-mercari-jp.akamaized.net/assets/img/promotion/jp/201812_bokurano_heisei/index/main-index.png?570108281" ,alt: "僕らのマンガ 平成30年史"
  %section.pickup-container
    %h2.pickup-head ピックアップカテゴリー
    %section.items-box__container
      %h3.items-box__container__title
        = link_to "#{@lady.name}新着アイテム"
      .items-box__content
        - if @ladies.present?
          = render partial: "item", collection: @ladies
      .view-all
        = link_to "すべての商品を見る"
    %section.items-box__container
      %h3.items-box__container__title
        = link_to "#{@men.name}新着アイテム"
      .items-box__content
        - if @mens.present?
          = render partial: "item", collection: @mens
      .view-all
        = link_to "すべての商品を見る"
    %section.items-box__container
      %h3.items-box__container__title
        = link_to "#{@baby.name}新着アイテム"
      .items-box__content
        - if @babys.present?
          = render partial: "item", collection: @babys
      .view-all
        = link_to "すべての商品を見る"
    %section.items-box__container
      %h3.items-box__container__title
        = link_to "#{@good.name}新着アイテム"
      .items-box__content
        - if @goods.present?
          = render partial: "item", collection: @goods
      .view-all
        = link_to "すべての商品を見る"
    %h2.pickup-head ピックアップブランド
    %section.items-box__container
      %h3.items-box__container__title
        = link_to "#{@chanerl.name}新着アイテム"
      .items-box__content
        - if @chanerls.present?
          = render partial: "item", collection: @chanerls
      .view-all
        = link_to "すべての商品を見る"
    %section.items-box__container
      %h3.items-box__container__title
        = link_to "#{@Vuitton.name}新着アイテム"
      .items-box__content
        - if @Vuittons.present?
          = render partial: "item", collection: @Vuittons
      .view-all
        = link_to "すべての商品を見る"
    %section.items-box__container
      %h3.items-box__container__title
        = link_to "#{@nike.name}新着アイテム"
      .items-box__content
        - if @nikes.present?
          = render partial: "item", collection: @nikes
      .view-all
        = link_to "すべての商品を見る"
    %section.items-box__container
      %h3.items-box__container__title
        = link_to "#{@syupu.name}新着アイテム"
      .items-box__content
        - if @syupus.present?
          = render partial: "item", collection: @syupus
      .view-all
        = link_to "すべての商品を見る"
= render 'botton'
= render 'footer'
