= render 'header'
%main.white
  = render 'carousel'
  %section.pickup-container
    %h2.pickup-head ピックアップカテゴリー
    %section.items-box__container
      %h3.items-box__container__title
        = link_to "#{@lady.name}新着アイテム"
      .items-box__content
        - if @ladies.present?
          = render partial: "item", collection: @ladies 
      .view-all
        = link_to "すべての商品を見る"
    %section.items-box__container
      %h3.items-box__container__title
        = link_to "#{@men.name}新着アイテム"
      .items-box__content
        - if @mens.present?
          = render partial: "item", collection: @mens
      .view-all
        = link_to "すべての商品を見る"
    %section.items-box__container
      %h3.items-box__container__title
        = link_to "#{@baby.name}新着アイテム"
      .items-box__content
        - if @babys.present?
          = render partial: "item", collection: @babys
      .view-all
        = link_to "すべての商品を見る"
    %section.items-box__container
      %h3.items-box__container__title
        = link_to "#{@good.name}新着アイテム"
      .items-box__content
        - if @goods.present?
          = render partial: "item", collection: @goods
      .view-all
        = link_to "すべての商品を見る"
    %h2.pickup-head ピックアップブランド
    %section.items-box__container
      %h3.items-box__container__title
        = link_to "#{@chanerl.name}新着アイテム"
      .items-box__content
        - if @chanerls.present?
          = render partial: "item", collection: @chanerls 
      .view-all
        = link_to "すべての商品を見る"
    %section.items-box__container
      %h3.items-box__container__title
        = link_to "#{@Vuitton.name}新着アイテム"
      .items-box__content
        - if @Vuittons.present?
          = render partial: "item", collection: @Vuittons 
      .view-all
        = link_to "すべての商品を見る"
    %section.items-box__container
      %h3.items-box__container__title
        = link_to "#{@nike.name}新着アイテム"
      .items-box__content
        - if @nikes.present?
          = render partial: "item", collection: @nikes 
      .view-all
        = link_to "すべての商品を見る"
    %section.items-box__container
      %h3.items-box__container__title
        = link_to "#{@syupu.name}新着アイテム"
      .items-box__content
        - if @syupus.present?
          = render partial: "item", collection: @syupus 
      .view-all
        = link_to "すべての商品を見る"
= render 'top-footer-img'
= render 'botton'
= render 'footer'
