%header.header
.product-detail
  .product-detail__item
    .product-detail__item__name
      supreme
    .product-detail__item__main
      .product-detail__item__main__photo
        = image_tag ('/ダウンロード.jpeg'), class: 'product-detail__item__main__photo__biggest'
        .product-detail__item__main__photo__mini-box
          = image_tag ('/ダウンロード.jpeg'), class: 'product-detail__item__main__photo__mini-box__dot'
          = image_tag ('/ダウンロード.jpeg'), class: 'product-detail__item__main__photo__mini-box__dot'
          = image_tag ('/ダウンロード.jpeg'), class: 'product-detail__item__main__photo__mini-box__dot'
          = image_tag ('/ダウンロード.jpeg'), class: 'product-detail__item__main__photo__mini-box__dot'
          = image_tag ('/ダウンロード.jpeg'), class: 'product-detail__item__main__photo__mini-box__dot'
          = image_tag ('/ダウンロード.jpeg'), class: 'product-detail__item__main__photo__mini-box__dot'
          = image_tag ('/ダウンロード.jpeg'), class: 'product-detail__item__main__photo__mini-box__dot'
          = image_tag ('/ダウンロード.jpeg'), class: 'product-detail__item__main__photo__mini-box__dot'
          = image_tag ('/ダウンロード.jpeg'), class: 'product-detail__item__main__photo__mini-box__dot'
          = image_tag ('/ダウンロード.jpeg'), class: 'product-detail__item__main__photo__mini-box__dot'
      %table.product-detail__item__main__table
        %tbody.product-detail__item__main__table__tbody
          %tr.product-detail__item__main__table__tbody__tr
            %th.product-detail__item__main__table__tbody__tr__th
              出品者
            %td.product-detail__item__main__table__tbody__tr__td
              = link_to '出品者', root_path, class: 'product-detail__item__main__table__tbody__tr__td__user-name'
              .product-detail__item__main__table__tbody__tr__td__rating-box
                .product-detail__item__main__table__tbody__tr__td__rating-box__ratings-left
                  %i.far.fa-grin-hearts.product-detail__item__main__table__tbody__tr__td__rating-box__ratings-left__icon-good
                  %span.product-detail__item__main__table__tbody__tr__td__rating-box__ratings__total
                    0
                .product-detail__item__main__table__tbody__tr__td__rating-box__ratings
                  %i.far.fa-meh.product-detail__item__main__table__tbody__tr__td__rating-box__ratings__icon-nomal
                  %span.product-detail__item__main__table__tbody__tr__td__rating-box__ratings__total
                    0
                .product-detail__item__main__table__tbody__tr__td__rating-box__ratings
                  %i.far.fa-dizzy.product-detail__item__main__table__tbody__tr__td__rating-box__ratings__icon-bad
                  %span.product-detail__item__main__table__tbody__tr__td__rating-box__ratings__total
                    0
          %tr.product-detail__item__main__table__tbody__tr
            %th.product-detail__item__main__table__tbody__tr__th
              カテゴリー
            %td.product-detail__item__main__table__tbody__tr__td
              = link_to root_path, class: 'product-detail__item__main__table__tbody__tr__td__main-category' do
                カテゴリ
              = link_to root_path, class: 'product-detail__item__main__table__tbody__tr__td__sub-category' do
                %i.fas.fa-chevron-right
                カテゴリ
              = link_to root_path, class: 'product-detail__item__main__table__tbody__tr__td__sub-category' do
                %i.fas.fa-chevron-right
                カテゴリ
          %tr.product-detail__item__main__table__tbody__tr
            %th.product-detail__item__main__table__tbody__tr__th
              ブランド
            %td.product-detail__item__main__table__tbody__tr__td
              = link_to root_path, class: 'product-detail__item__main__table__tbody__tr__td__brand' do
                ブランド名
          %tr.product-detail__item__main__table__tbody__tr
            %th.product-detail__item__main__table__tbody__tr__th
              商品のサイズ
            %td.product-detail__item__main__table__tbody__tr__td
              XL
          %tr.product-detail__item__main__table__tbody__tr
            %th.product-detail__item__main__table__tbody__tr__th
              商品の状態
            %td.product-detail__item__main__table__tbody__tr__td
              未使用に近い
          %tr.product-detail__item__main__table__tbody__tr
            %th.product-detail__item__main__table__tbody__tr__th
              配送料の負担
            %td.product-detail__item__main__table__tbody__tr__td
              送料込み(出品者負担)
          %tr.product-detail__item__main__table__tbody__tr
            %th.product-detail__item__main__table__tbody__tr__th
              配送の方法
            %td.product-detail__item__main__table__tbody__tr__td
              未定
          %tr.product-detail__item__main__table__tbody__tr
            %th.product-detail__item__main__table__tbody__tr__th
              配送元地域
            %td.product-detail__item__main__table__tbody__tr__td
              = link_to root_path, class: 'product-detail__item__main__table__tbody__tr__td__place' do
                神奈川県
          %tr.product-detail__item__main__table__tbody__tr
            %th.product-detail__item__main__table__tbody__tr__th
              発送日の目安
            %td.product-detail__item__main__table__tbody__tr__td
              1~2日で発送
    .product-detail__item__price-box
      .product-detail__item__price-box__price
        ¥10,000
      .product-detail__item__price-box__tax
        (税込)
      .product-detail__item__price-box__shipping-fee
        送料込み
    .product-detail__item__buy
      = link_to root_path, class: 'product-detail__item__buy__button' do
        購入画面に進む
    .product-detail__item__description-box
      .product-detail__item__description-box__text
        カラー ブラック サイズ XL
        オンライン購入
        3回着用
        個人情報を切り取った納品書原本
        全タグ
        ショッパー
        ステッカー
    .product-detail__item__button-box
      .product-detail__item__button-box__left
        %button.product-detail__item__button-box__left__good
          %i.far.fa-heart.product-detail__item__button-box__left__good__icon
          %span.product-detail__item__button-box__left__good__text
            いいね!
          %span.product-detail__item__button-box__left__good__count
            0
        = link_to root_path, class: 'product-detail__item__button-box__left__report' do
          %i.fas.fa-flag-checkered
          %span.product-detail__item__button-box__left__report__text
            不適切な商品の報告
      .product-detail__item__button-box__right
        = link_to root_path, class: 'product-detail__item__button-box__right__report' do
          %i.fas.fa-lock.product-detail__item__button-box__right__report__icon
          %span.product-detail__item__button-box__right__report__text
            あんしん・あんぜんへの取り組み
  .product-detail__comments
    .product-detail__comments__box
      .product-detail__comments__box__contents
        %ul.product-detail__comments__box__contents__lists
          %li.product-detail__comments__box__contents__lists__comment
            = link_to root_path, class: 'product-detail__comments__box__contents__lists__comment__user' do
              %figure.product-detail__comments__box__contents__lists__comment__user__figure
                = image_tag ('/ダウンロード.jpeg'), class: 'product-detail__comments__box__contents__lists__comment__user__figure__image'
                %figcaption.product-detail__comments__box__contents__lists__comment__user__figure__user-name
                  大貫
              .product-detail__comments__box__contents__lists__comment__user__seller
                出品者
            .product-detail__comments__box__contents__lists__comment__body
              .product-detail__comments__box__contents__lists__comment__body__text
                着丈 76
                身幅 65
                %br
                桁丈 95
                %br
                となります
              .product-detail__comments__box__contents__lists__comment__body__time
                %time.product-detail__comments__box__contents__lists__comment__body__time__icons
                  %i.far.fa-clock.product-detail__comments__box__contents__lists__comment__body__time__icons__icon
                  %span.product-detail__comments__box__contents__lists__comment__body__time__icons__date
                    0日前
              %i.fab.fa-affiliatetheme.product-detail__comments__box__contents__lists__comment__body__comment-icon
          %li.product-detail__comments__box__contents__lists__comment
            = link_to root_path, class: 'product-detail__comments__box__contents__lists__comment__user' do
              %figure.product-detail__comments__box__contents__lists__comment__user__figure
                = image_tag ('/ダウンロード.jpeg'), class: 'product-detail__comments__box__contents__lists__comment__user__figure__image'
                %figcaption.product-detail__comments__box__contents__lists__comment__user__figure__user-name
                  大貫
            .product-detail__comments__box__contents__lists__comment__body
              .product-detail__comments__box__contents__lists__comment__body__text
                着丈 76
                身幅 65
                %br
                桁丈 95
                %br
                となります
              .product-detail__comments__box__contents__lists__comment__body__time
                %time.product-detail__comments__box__contents__lists__comment__body__time__icons
                  %i.far.fa-clock.product-detail__comments__box__contents__lists__comment__body__time__icons__icon
                  %span.product-detail__comments__box__contents__lists__comment__body__time__icons__date
                    0日前
              %i.fab.fa-affiliatetheme.product-detail__comments__box__contents__lists__comment__body__comment-icon
      .product-detail__comments__box__comment
        %form.product-detail__comments__box__comment__form
          %p.product-detail__comments__box__comment__form__message
            相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
          %textarea.product-detail__comments__box__comment__form__textarea
          .product-detail__comments__box__comment__form__button
            %input.product-detail__comments__box__comment__form__button__comment{name: "commit", type: "submit", value: "コメントする"}
  %ul.product-detail__link
    %li.product-detail__link__prev
      = link_to root_path, class: 'product-detail__link__prev__href' do
        %i.fas.fa-chevron-left.product-detail__link__prev__href__icon
        前のページ
    %li.product-detail__link__next
      = link_to root_path, class: 'product-detail__link__next__href' do
        次のページ
        %i.fas.fa-chevron-right.product-detail__link__next__href__icon
  .product-detail__media
    .product-detail__media__box
      = link_to root_path, class: 'product-detail__media__box__icons' do
        %i.fab.fa-facebook-square.product-detail__media__box__icons__facebook
      = link_to root_path, class: 'product-detail__media__box__icons' do
        %i.fab.fa-twitter-square.product-detail__media__box__icons__twitter
      = link_to root_path, class: 'product-detail__media__box__icons' do
        %i.fab.fa-pinterest-square.product-detail__media__box__icons__pinterest
  .product-detail__others
    %section.product-detail__others__section
      .product-detail__others__section__box
        = link_to root_path, class: 'product-detail__others__section__box__head' do
          大貫さんのその他の出品
      .product-detail__others__section__item
        .product-detail__others__section__item__box
          = link_to root_path, class: 'product-detail__others__section__item__box__href' do
            %figure.product-detail__others__section__item__box__href__figure
              = image_tag ('/ダウンロード.jpeg'), class: 'product-detail__others__section__item__box__href__figure__image'
              %figcaption.product-detail__others__section__item__box__href__figure__figcaption
                .product-detail__others__section__item__box__href__figure__figcaption__sold-out
                  .product-detail__others__section__item__box__href__figure__figcaption__sold-out__budge 
                    SOLD
            .product-detail__others__section__item__box__href__body
              .product-detail__others__section__item__box__href__body__name
                女神
              .product-detail__others__section__item__box__href__body__num
                .product-detail__others__section__item__box__href__body__num__price
                  ¥ 100000
                .product-detail__others__section__item__box__href__body__num__good
                  %i.far.fa-heart.product-detail__others__section__item__box__href__body__num__good__icon
                  %span.product-detail__others__section__item__box__href__body__num__good__count
                    0
              .product-detail__others__section__item__box__href__body__tax
                (税込)
        .product-detail__others__section__item__box
          = link_to root_path, class: 'product-detail__others__section__item__box__href' do
            %figure.product-detail__others__section__item__box__href__figure
              = image_tag ('/ダウンロード.jpeg'), class: 'product-detail__others__section__item__box__href__figure__image'
              %figcaption.product-detail__others__section__item__box__href__figure__figcaption
                .product-detail__others__section__item__box__href__figure__figcaption__sold-out
                  .product-detail__others__section__item__box__href__figure__figcaption__sold-out__budge 
                    SOLD
            .product-detail__others__section__item__box__href__body
              .product-detail__others__section__item__box__href__body__name
                女神
              .product-detail__others__section__item__box__href__body__num
                .product-detail__others__section__item__box__href__body__num__price
                  ¥ 100000
                .product-detail__others__section__item__box__href__body__num__good
                  %i.far.fa-heart.product-detail__others__section__item__box__href__body__num__good__icon
                  %span.product-detail__others__section__item__box__href__body__num__good__count
                    0
              .product-detail__others__section__item__box__href__body__tax
                (税込)
        .product-detail__others__section__item__box
          = link_to root_path, class: 'product-detail__others__section__item__box__href' do
            %figure.product-detail__others__section__item__box__href__figure
              = image_tag ('/ダウンロード.jpeg'), class: 'product-detail__others__section__item__box__href__figure__image'
              %figcaption.product-detail__others__section__item__box__href__figure__figcaption
                .product-detail__others__section__item__box__href__figure__figcaption__sold-out
                  .product-detail__others__section__item__box__href__figure__figcaption__sold-out__budge 
                    SOLD
            .product-detail__others__section__item__box__href__body
              .product-detail__others__section__item__box__href__body__name
                女神
              .product-detail__others__section__item__box__href__body__num
                .product-detail__others__section__item__box__href__body__num__price
                  ¥ 100000
                .product-detail__others__section__item__box__href__body__num__good
                  %i.far.fa-heart.product-detail__others__section__item__box__href__body__num__good__icon
                  %span.product-detail__others__section__item__box__href__body__num__good__count
                    0
              .product-detail__others__section__item__box__href__body__tax
                (税込)
        .product-detail__others__section__item__box
          = link_to root_path, class: 'product-detail__others__section__item__box__href' do
            %figure.product-detail__others__section__item__box__href__figure
              = image_tag ('/ダウンロード.jpeg'), class: 'product-detail__others__section__item__box__href__figure__image'
              %figcaption.product-detail__others__section__item__box__href__figure__figcaption
                .product-detail__others__section__item__box__href__figure__figcaption__sold-out
                  .product-detail__others__section__item__box__href__figure__figcaption__sold-out__budge 
                    SOLD
            .product-detail__others__section__item__box__href__body
              .product-detail__others__section__item__box__href__body__name
                女神
              .product-detail__others__section__item__box__href__body__num
                .product-detail__others__section__item__box__href__body__num__price
                  ¥ 100000
                .product-detail__others__section__item__box__href__body__num__good
                  %i.far.fa-heart.product-detail__others__section__item__box__href__body__num__good__icon
                  %span.product-detail__others__section__item__box__href__body__num__good__count
                    0
              .product-detail__others__section__item__box__href__body__tax
                (税込)
  .product-detail__others
    %section.product-detail__others__section
      .product-detail__others__section__box
        = link_to root_path, class: 'product-detail__others__section__box__head' do
          女神グッズその他の出品
      .product-detail__others__section__item
        .product-detail__others__section__item__box
          = link_to root_path, class: 'product-detail__others__section__item__box__href' do
            %figure.product-detail__others__section__item__box__href__figure
              = image_tag ('/ダウンロード.jpeg'), class: 'product-detail__others__section__item__box__href__figure__image'
              %figcaption.product-detail__others__section__item__box__href__figure__figcaption
                .product-detail__others__section__item__box__href__figure__figcaption__sold-out
                  .product-detail__others__section__item__box__href__figure__figcaption__sold-out__budge 
                    SOLD
            .product-detail__others__section__item__box__href__body
              .product-detail__others__section__item__box__href__body__name
                女神
              .product-detail__others__section__item__box__href__body__num
                .product-detail__others__section__item__box__href__body__num__price
                  ¥ 100000
                .product-detail__others__section__item__box__href__body__num__good
                  %i.far.fa-heart.product-detail__others__section__item__box__href__body__num__good__icon
                  %span.product-detail__others__section__item__box__href__body__num__good__count
                    0
              .product-detail__others__section__item__box__href__body__tax
                (税込)
        .product-detail__others__section__item__box
          = link_to root_path, class: 'product-detail__others__section__item__box__href' do
            %figure.product-detail__others__section__item__box__href__figure
              = image_tag ('/ダウンロード.jpeg'), class: 'product-detail__others__section__item__box__href__figure__image'
              %figcaption.product-detail__others__section__item__box__href__figure__figcaption
                .product-detail__others__section__item__box__href__figure__figcaption__sold-out
                  .product-detail__others__section__item__box__href__figure__figcaption__sold-out__budge 
                    SOLD
            .product-detail__others__section__item__box__href__body
              .product-detail__others__section__item__box__href__body__name
                女神
              .product-detail__others__section__item__box__href__body__num
                .product-detail__others__section__item__box__href__body__num__price
                  ¥ 100000
                .product-detail__others__section__item__box__href__body__num__good
                  %i.far.fa-heart.product-detail__others__section__item__box__href__body__num__good__icon
                  %span.product-detail__others__section__item__box__href__body__num__good__count
                    0
              .product-detail__others__section__item__box__href__body__tax
                (税込)
        .product-detail__others__section__item__box
          = link_to root_path, class: 'product-detail__others__section__item__box__href' do
            %figure.product-detail__others__section__item__box__href__figure
              = image_tag ('/ダウンロード.jpeg'), class: 'product-detail__others__section__item__box__href__figure__image'
              %figcaption.product-detail__others__section__item__box__href__figure__figcaption
                .product-detail__others__section__item__box__href__figure__figcaption__sold-out
                  .product-detail__others__section__item__box__href__figure__figcaption__sold-out__budge 
                    SOLD
            .product-detail__others__section__item__box__href__body
              .product-detail__others__section__item__box__href__body__name
                女神
              .product-detail__others__section__item__box__href__body__num
                .product-detail__others__section__item__box__href__body__num__price
                  ¥ 100000
                .product-detail__others__section__item__box__href__body__num__good
                  %i.far.fa-heart.product-detail__others__section__item__box__href__body__num__good__icon
                  %span.product-detail__others__section__item__box__href__body__num__good__count
                    0
              .product-detail__others__section__item__box__href__body__tax
                (税込)
        .product-detail__others__section__item__box
          = link_to root_path, class: 'product-detail__others__section__item__box__href' do
            %figure.product-detail__others__section__item__box__href__figure
              = image_tag ('/ダウンロード.jpeg'), class: 'product-detail__others__section__item__box__href__figure__image'
              %figcaption.product-detail__others__section__item__box__href__figure__figcaption
                .product-detail__others__section__item__box__href__figure__figcaption__sold-out
                  .product-detail__others__section__item__box__href__figure__figcaption__sold-out__budge 
                    SOLD
            .product-detail__others__section__item__box__href__body
              .product-detail__others__section__item__box__href__body__name
                女神
              .product-detail__others__section__item__box__href__body__num
                .product-detail__others__section__item__box__href__body__num__price
                  ¥ 100000
                .product-detail__others__section__item__box__href__body__num__good
                  %i.far.fa-heart.product-detail__others__section__item__box__href__body__num__good__icon
                  %span.product-detail__others__section__item__box__href__body__num__good__count
                    0
              .product-detail__others__section__item__box__href__body__tax
                (税込)
%footer.footer