%header.header
.product-detail
  .product-detail__item
    .product-detail__item__name
      supreme
    .product-detail__item__main
      .product-detail__item__main__photo
        = image_tag ('/ダウンロード.jpeg'), class: 'product-detail__item__main__photo__biggest'
        .product-detail__item__main__photo__mini-box
          = image_tag ('/ダウンロード.jpeg'), class: 'product-detail__item__main__photo__mini-box__dot'
          = image_tag ('/ダウンロード.jpeg'), class: 'product-detail__item__main__photo__mini-box__dot'
          = image_tag ('/ダウンロード.jpeg'), class: 'product-detail__item__main__photo__mini-box__dot'
          = image_tag ('/ダウンロード.jpeg'), class: 'product-detail__item__main__photo__mini-box__dot'
          = image_tag ('/ダウンロード.jpeg'), class: 'product-detail__item__main__photo__mini-box__dot'
          = image_tag ('/ダウンロード.jpeg'), class: 'product-detail__item__main__photo__mini-box__dot'
          = image_tag ('/ダウンロード.jpeg'), class: 'product-detail__item__main__photo__mini-box__dot'
          = image_tag ('/ダウンロード.jpeg'), class: 'product-detail__item__main__photo__mini-box__dot'
          = image_tag ('/ダウンロード.jpeg'), class: 'product-detail__item__main__photo__mini-box__dot'
          = image_tag ('/ダウンロード.jpeg'), class: 'product-detail__item__main__photo__mini-box__dot'