%header.header
.product-detail
  = render 'products/header'
  = render 'products/product-detail/main'
  = render 'products/product-detail/comments'
  = render 'products/product-detail/media'
  = render 'products/product-detail/others'
  = render 'products/footer'
%footer.footer
= render 'products/modal'
